@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

#about {
    background-color: #eef0f4;
}

#about {
    padding: 70px 5;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#about .container h2{
    font-size: 3em;
    color: #2a2a2a;
    margin-bottom: 25px;
}


.inline{
    display: inline-block;
    justify-content: center;
    align-items: center;
}
h6.inline{
    margin: 0 10px;
}